nav { 
	display: block;
	z-index: 11;
	float: right;
	margin-top: 35px;
	transition: margin-top .4s ease;
}

.sf-menu {}
.sf-menu > li > span { display: block; position: relative;}
.sf-menu ul { position:absolute; top:-999px; display:none; }/*offset of submenus need to match (see below)*/
.sf-menu li { position:relative; background: none;}
	.sf-menu a {
		text-transform: uppercase;
}
#stuck_container {
	background: #fff;
}
#stuck_container.isStuck h1 {
	max-width: 290px;
}
#stuck_container.isStuck h1 img {
	width: 100%;
}
#stuck_container.isStuck {
	padding: 10px 0px; 
}
#stuck_container.isStuck nav {
	margin-top: 9px;
}
#stuck_container.isStuck {
	box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.5);
}

/*================================>> 1 Level <<========================================*/

li.sfHover {position: relative;}
.sf-menu > li > a {
	display:inline-block;
	vertical-align: middle;
	-moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease;
	z-index: 100;
	color: #191919;
	font-size: 12px;
	line-height: 48px;
	height: 48px;
	padding: 0 25px;
	background: #fff;
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
}
.sf-menu > li {
	display: block;
	position: relative;
	float: left;
	margin-left: 18px;
}

	.sf-menu > li:hover > a, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a,
	.sf-menu > li:hover > span, 
	.sf-menu > li.current > span, 
	.sf-menu > li.sfHover > span {
		color: #fff;
		background: #f2cf3d;
	}

.sf-menu > li > a.sf-with-ul:after {
	position: absolute;
	content:"";
	left: 50%;
	margin-left: -2px;
	right: 0;
	bottom: 5px;
	-moz-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
    -webkit-transition: top 0.3s ease-out;
	border: 4px solid;
	border-color: #191919 transparent transparent transparent;
	width: 0;
	height: 0;
}
.sf-menu > li:hover > a.sf-with-ul:after, 
.sf-menu > li.current > a.sf-with-ul:after, 
.sf-menu > li.sfHover > a.sf-with-ul:after {
	border-color: #fff transparent transparent transparent;
}

/*================================>> 2 Level <<========================================*/

.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	top: 48px;
	left: 0px;
	z-index:99;
	background: #ffd200;
	text-align: left;
	width: 100%;
	padding: 4px 13px 19px 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.sf-menu > li > ul > li {
	display: block;
	font-size: 12px;
	line-height: 34px;
	font-family: Arial, sans-serif;
}

.sf-menu > li > ul > li > a {
	display: inline-block;
	color: #fff;
}

.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover > a,
.sf-menu li.sfHover li.sfHover span { 
	font-weight: bold;
}

.sf-menu > li > ul > li > a.sf-with-ul:after  {
	position: absolute;
	display: block;
	content:"\f105";
	right: 7px;
	text-align: center;
	margin-left: -10px;	
	top: 10px;
	-moz-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
    -webkit-transition: top 0.3s ease-out;
	overflow: hidden;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	color: #fff;
}

/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	top: 3px;
	left: 88px;
	z-index:99;
	position: absolute;
	text-align: left;
	background: #333333;
	width: 100px;
	padding: 4px 13px 3px 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.sf-menu li li li {
	display: block;
	font-size: 12px;
	line-height: 30px;
	font-family: Arial, sans-serif;
}
.sf-menu li li li a {
	display: inline-block;
	color: #fff;
}
.sf-menu li li li a:hover {	
	color: #999999;
	font-weight: normal;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1220px) {
	h1 img { width: 100%;}
	h1 { width: 33%;}
	nav { margin-top: 30px;}
}

@media only screen and (max-width: 995px) {
	.sf-menu > li > a { padding: 0 8px;}
	.sf-menu > li { margin-left: 5px;}
	h1 { width: 44%;}
	
}
@media only screen and (max-width: 767px) {
	ul.sf-menu { display:none !important;}
	h1 { width: auto;}

	nav select {
		height: 35px;
		border: 1px solid #2d2d2d;
		font-family: Trebuchet MS, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		background-color: #2d2d2d;
		width: 100%;
	    outline: none;
	    padding: 5px;
		font-weight: bold;
		margin-top: 0px;
}
	nav select option:first-child {
		color:#fff;
	}
	nav { width: 100%;}
	
	#stuck_container.isStuck h1 {
		max-width: 100%;
	}
	#stuck_container.isStuck h1 img {
		width: auto;
	}
	#stuck_container.isStuck {
		padding: 0px 0px; 
	}
	#stuck_container.isStuck nav {
		margin-top: 30px;
	}
	#stuck_container.isStuck {
		box-shadow: none;
	}

}

@media only screen and (max-width: 479px) {
	.h-top h1 img { width: 80%;}
}





